/*
 * Table of contents:
 *
 * 00 - Notes
 * 01 - Color palette
 * 02 - Fonts
 * 03 - Atari ST wrapper and generic classes
 * 04 - Menu bar
 * 05 - Desktop
 * 06 - Icons
 * 07 - Windows
 * 08 - Windows title bar
 * 09 - Windows content
 * 10 - Windows scrollbars
 * 11 - Dialogs
 */
 
/*
 * 00 - Notes:
 *
 * All styles are prefixed with "#atarist" to use this stylesheet along with others.
 */
  
/*
 * 01 - Color palette:
 *
 * Code    | Name       | Usage
 * -------   ----------   -----
 * #00E000 | Green      | Desktop background
 * #E0E0E0 | Light grey | Menu bar, menu items, windows background, icons labels
 */
 
/*
 * 02 - Fonts:
 *
 * Atari ST Regular - Generic Atari ST font
 */

@font-face {
  font-family: 'AtariSTRegular';
  src: url('../fonts/atarist_regular.eot');
  src: url('../fonts/atarist_regular.eot?#iefix')  format('embedded-opentype'),
         url('../fonts/atarist_regular.woff') format('woff'),
         url('../fonts/atarist_regular.ttf') format('truetype'),
         url('../fonts/atarist_regular.svg#AtariSTRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
 * 03 - Atari ST wrapper and generic classes
 */

#atarist {
  /* border: 2px solid black; /* SWITCH: wrapper border */
  cursor: url('../cursors/atarist.cur'), default;
  font-family: 'AtariSTRegular';
  height: 400px;
  overflow: hidden;
  width: 640px;
}
 
/*
 * 04 - Menu bar
 */
 
#atarist #menu {
  background-color: #E0E0E0;
  border-bottom: 2px solid black;
  height: 20px;
  padding-left: 34px;
}

#atarist #menu > ul {
  display: inline;
}

#atarist #menu li {
  float: left;
  list-style: none;
  margin-top: 2px;
  padding: 0 14px 2px 14px;
  text-transform: capitalize;
}

#atarist #menu li:hover {
  background-color: black;
  color: #E0E0E0;
}

/*
 * 05 - Desktop
 */

#atarist #desktop {
  background-color: #00E000;
  /* border: 2px solid black; /* SWITCH: desktop border */
  height: 380px;
}

/*
 * 06 - Icons
 */
 
.icon {
  background-color: #00E000;
  background-repeat: no-repeat;
  background-position: center center;
  height: 64px;
  width: 64px;
}
 
.icon_diskette { background-image: url('../img/icons/diskette.png'); }
.icon_floppy_disk_a { background-image: url('../img/icons/floppy_disk_a.png'); }
.icon_floppy_disk_b { background-image: url('../img/icons/floppy_disk_b.png'); }
.icon_floppy_disk_c { background-image: url('../img/icons/floppy_disk_c.png'); }
.icon_folder { background-image: url('../img/icons/folder.png'); }
.icon_printer { background-image: url('../img/icons/printer.png'); }
.icon_program { background-image: url('../img/icons/program.png'); }
.icon_text_file { background-image: url('../img/icons/text-file.png'); }
.icon_tos_file { background-image: url('../img/icons/tos_file.png'); }
.icon_trash { background-image: url('../img/icons/trash.png'); }